In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv(r'C:\Users\krish\Downloads\classification.csv')

In [3]:
age=df["Age"].unique()
age.sort()
age

array([18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60], dtype=int64)

In [4]:
est=df["EstimatedSalary"].unique()
est.sort()
est

array([ 15000,  16000,  17000,  18000,  19000,  20000,  21000,  22000,
        23000,  25000,  26000,  27000,  28000,  29000,  30000,  31000,
        32000,  33000,  34000,  35000,  36000,  37000,  38000,  39000,
        41000,  42000,  43000,  44000,  45000,  46000,  47000,  48000,
        49000,  50000,  51000,  52000,  53000,  54000,  55000,  57000,
        58000,  59000,  60000,  61000,  62000,  63000,  64000,  65000,
        66000,  68000,  69000,  70000,  71000,  72000,  73000,  74000,
        75000,  76000,  77000,  78000,  79000,  80000,  81000,  82000,
        83000,  84000,  85000,  86000,  87000,  88000,  89000,  90000,
        91000,  93000,  95000,  96000,  97000,  99000, 100000, 101000,
       102000, 104000, 105000, 106000, 107000, 108000, 112000, 113000,
       114000, 115000, 116000, 117000, 118000, 119000, 120000, 122000,
       123000, 125000, 126000, 129000, 130000, 131000, 133000, 134000,
       135000, 137000, 138000, 139000, 141000, 142000, 143000, 144000,
       146000, 147000, 148000, 149000, 150000], dtype=int64)

In [5]:
age_avg=[]
for i in range(len(age)-1):
    age_avg.append((age[i]+age[i+1])/2)

In [6]:
est_avg=[]
for i in range(len(est)-1):
    est_avg.append((est[i]+est[i+1])/2)

In [61]:
gini=[]
def ginni(d0,d1):    
    for j in age_avg:
        n1,n2,n3,n4=0,0,0,0
        for k in d0:
            if k<j:
                n1+=1  
            if k>j:
                n2+=1  
        for k in d1:
            if k<j:
                n3+=1  
            if k>j:
                n4+=1  
                
        tot1=n1+n3  
        tot2=n2+n4  
        tot=tot1+tot2 
        
        left_gini=1-((n1/tot1)**2)-((n3/tot1)**2)
        right_gini=1-((n2/tot2)**2)-((n4/tot2)**2)
        weight=((tot1/tot)*left_gini)+((tot2/tot)*right_gini)
        
        gini.append(weight)
        
    min_gini=min(gini)
    p=gini.index(min_gini)
        
    print("gini:",min_gini,"at average:",age_avg[p])

In [62]:
d0=d[d["Purchased"]==0]
d1=d[d["Purchased"]==1]

In [63]:
ginni(d0["Age"],d1["Age"])

gini: 0.2687902364607169 at average: 42.5

In [64]:
ginni(d0["EstimatedSalary"],d1["EstimatedSalary"])

ZeroDivisionError: division by zero