In [195]:
import numpy as np
import pandas as pd

## Content based recommendation system

In [196]:
df=pd.read_csv('result_final.csv')

In [197]:
df.head()

,Unnamed: 0.1,Unnamed: 0,link,text,title,date,keywords,summary,title_summary
0,0,0,http://techcrunch.com/2020/09/07/vodafone-idea...,"Vodafone Idea, one of the largest telecom oper...",Indian telecom giant Vodafone Idea rebrands as...,2020-09-07 00:00:00,"['rebrands', 'idea', 'vi', 'giant', 'brand', '...","Vodafone Idea, one of the largest telecom oper...",Indian telecom giant Vodafone Idea rebrands as...
1,1,1,http://techcrunch.com/2020/09/16/facebook-addr...,"At the beginning of the previous decade, Faceb...",Facebook addresses political controversy in In...,2020-09-16 00:00:00,"['opportunities', 'whatsapp', 'controversy', '...",Politicians in the country today heavily rely ...,Facebook addresses political controversy in In...
2,2,2,http://techcrunch.com/2020/09/14/youtube-launc...,"As TikTok’s fate in the U.S. remains murky, Yo...","YouTube launches its TikTok rival, YouTube Sho...",2020-09-14 00:00:00,"['rival', 'video', 'feature', 'access', 'youtu...","As TikTok’s fate in the U.S. remains murky, Yo...","YouTube launches its TikTok rival, YouTube Sho..."
3,3,3,http://techcrunch.com/2020/09/09/groww-an-inve...,Even as more than 150 million people are using...,"Groww, an investment app for millennials in In...",2020-09-09 00:00:00,"['world', 'yc', 'continuity', 'stocks', 'groww...","YC Continuity, the growth-stage investment fun...","Groww, an investment app for millennials in In..."
4,4,4,http://techcrunch.com/2020/09/15/lanzatech-is-...,As part of the continuing global rollout of La...,LanzaTech is developing a small-scale waste bi...,2020-09-15 00:00:00,"['production', 'distributed', 'developing', 's...",As part of the continuing global rollout of La...,LanzaTech is developing a small-scale waste bi...

In [198]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2190 entries, 0 to 2189
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0.1   2190 non-null   int64
 1   Unnamed: 0     2190 non-null   int64
 2   link           2190 non-null   object
 3   text           2184 non-null   object
 4   title          2187 non-null   object
 5   date           1691 non-null   object
 6   keywords       2187 non-null   object
 7   summary        2184 non-null   object
 8   title_summary  2184 non-null   object
dtypes: int64(2), object(7)
memory usage: 154.1+ KB

In [199]:
df.drop(columns=['Unnamed: 0.1','link','date'],axis=1,inplace=True)

In [200]:
def string(x):
    x=x[1:-1]
    s=''
    for i in x.split(','):
       s+=i+','
    return s

In [201]:
df.fillna(method='ffill',inplace=True)

In [202]:
df['keywords']=df['keywords'].agg(string)

In [203]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf=TfidfVectorizer(stop_words='english')

tfidf_mat=tfidf.fit_transform(df['keywords'])
tfidf_mat

<2190x8023 sparse matrix of type '<class 'numpy.float64'>'
	with 32479 stored elements in Compressed Sparse Row format>

In [204]:
from sklearn.metrics.pairwise import linear_kernel

cosine_sim=linear_kernel(tfidf_mat,tfidf_mat)
cosine_sim

array([[1.        , 0.05450556, 0.03955338, ..., 0.        , 0.        ,
        0.        ],
       [0.05450556, 1.        , 0.07178309, ..., 0.        , 0.        ,
        0.        ],
       [0.03955338, 0.07178309, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [205]:
df1=pd.DataFrame(pd.Series(df['keywords'],index=df.index))
df1

                                               keywords
0     'rebrands', 'idea', 'vi', 'giant', 'brand', 'l...
1     'opportunities', 'whatsapp', 'controversy', 'r...
2     'rival', 'video', 'feature', 'access', 'youtub...
3     'world', 'yc', 'continuity', 'stocks', 'groww'...
4     'production', 'distributed', 'developing', 'sc...
...                                                 ...
2185  'bolsonaro', 'guedes', 'reins', 'economic', 'f...
2186  'push', 'bank', 'england', 'zero', 'signal', '...
2187  'shortages', 'imports', 'gasoline', 'shipments...
2188  'international', 'tvs', 'sundays', 'united', '...
2189  'copper', 'sessions', 'metalslme', 'seven', 'd...

[2190 rows x 1 columns]

In [206]:
import re
def recomendation(x):
    ind=df1[df1['keywords'].str.contains(x,flags=re.IGNORECASE,regex=True)].index[0]
    sim_score=list(enumerate(cosine_sim[ind]))
    sim_score=sorted(sim_score,key=lambda a:a[1],reverse=True)
    sim_score=sim_score[1:8]
    final_ind=[i[0] for i in sim_score]
    return final_ind

In [207]:
r=input('Enter keyword for news title:')
ind=recomendation(r)

print('Recommended news are:')
for i in ind:
    print('>>',df['title'][i],'\n \t>>>',df['title_summary'][i])

Enter keyword for news title:father
Recommended news are:
>> Motor racing: No 'Andretti Curse' in August, says Marco
 	>>> Motor racing: No 'Andretti Curse' in August, says Marco (Reuters) - After more than five decades of Brickyard frustration the “Andretti Curse” has become as much a part of the Indianapolis 500 as the command for drivers to “start your engines”.

Aug 17, 2020; Indianapolis, Indiana, USA; Indy Car Series driver Marco Andretti poses for a family photo shoot with wife Marta and his sister and his father Michael Andretti and Michael's family during a front row photo shoot before the 104th running of the Indianapolis 500 at the Indianapolis Motor Speedway. Mandatory Credit: Brian Spurlock-USA TODAY Sports

American motor racing royalty, the Andrettis have ruled over open wheel racing in the United States with a string of victories that have connected generations -- father (Mario), to son (Michael), to grandson (Marco).

But for all their success at circuits around the world, Mario’s Indy 500 victory in 1969 stands alone.

Over the years what was first shrugged off as bad luck, became cruel misfortune then later a full blown jinx that now ranks right up there with the Boston Red Sox “Curse of the Bambino” and Chicago Cubs’ “Curse of the Billy Goat”.

For those looking for signs that whatever voodoo planted on the Andrettis will be lifted this year, there were hints on Sunday that something was different when 33-year-old Marco grabbed pole position 33-years after Mario was the last Andretti to start from the front.

The Andrettis have happily played along when it comes to the curse, neither embracing or dismissing it.

Marco routinely turns the tables saying his family is not cursed but blessed while at the same time conceding the results suggest darker forces at work.

A theory this year has the curse thrown out of whack by the COVID-19 pandemic which forced the Indy 500 to move from its traditional May 24th date to Aug. 23.

“I don’t think it (the curse) exists in August so we are good,” Andretti told Reuters with a laugh. “As a family we would talk that we are blessed not cursed but it is a cool media story and we have been running with it.

“Results wise, yeah, maybe there is something to it because man the three of us have been so dominate here.

“We have a bunch of podiums but this is one place where that doesn’t matter.”

Certainly when it comes to the Indianapolis Motor Speedway and the Andrettis relationship has been more star-crossed than aligned.

Marco’s father Michael, has been a five-times winner of the Indy 500 as a team owner but 16 times as a driver could not get to Victory Lane.

In his 2006 rookie season Marco finished second but has never been that close again.

An American driver winning the Indianapolis 500 will have fans waving the Stars and Stripes - an Andretti winning “The Greatest Spectacle in Racing” would bring fireworks.

Fans, drivers and anyone connected to motor racing understands what the Andretti name means to the sport.

When Marco’s name flashed at the top of the timing tower on Sunday social media exploded and the pit lane applauded.

Fellow drivers ran to Marco’s car to offer congratulations while his father hugged him and fought back tears.

Due to COVID-19 health and safety protocols there will be no spectators in grandstands that normally would be packed with close to 300,000 motor racing fans.

Either way Andretti says he will still feel the support.

“Just feeling the support from the pole I can’t even imagine what it would be like if we won the race,” said Marco. “You would see a few grown men cry.

“Just seeing the videos of fans across the street wearing my jersey, that’s so cool and the unwavering support on social media.”
>> No 'Andretti Curse' in August, says Marco
 	>>> No 'Andretti Curse' in August, says Marco (Reuters) - After more than five decades of Brickyard frustration the “Andretti Curse” has become as much a part of the Indianapolis 500 as the command for drivers to “start your engines”.

Aug 15, 2020; Indianapolis, IN, USA; IndyCar Series driver Marco Andretti during qualifying for the 104th Running of the Indianapolis 500 at Indianapolis Motor Speedway. Mandatory Credit: Mark J. Rebilas-USA TODAY Sports

American motor racing royalty, the Andrettis have ruled over open wheel racing in the United States with a string of victories that have connected generations -- father (Mario), to son (Michael), to grandson (Marco).

But for all their success at circuits around the world, Mario’s Indy 500 victory in 1969 stands alone.

Over the years what was first shrugged off as bad luck, became cruel misfortune then later a full blown jinx that now ranks right up there with the Boston Red Sox “Curse of the Bambino” and Chicago Cubs’ “Curse of the Billy Goat”.

For those looking for signs that whatever voodoo planted on the Andrettis will be lifted this year, there were hints on Sunday that something was different when 33-year-old Marco grabbed pole position 33-years after Mario was the last Andretti to start from the front.

The Andrettis have happily played along when it comes to the curse, neither embracing or dismissing it.

Marco routinely turns the tables saying his family is not cursed but blessed while at the same time conceding the results suggest darker forces at work.

A theory this year has the curse thrown out of whack by the COVID-19 pandemic which forced the Indy 500 to move from its traditional May 24th date to Aug. 23.

“I don’t think it (the curse) exists in August so we are good,” Andretti told Reuters with a laugh. “As a family we would talk that we are blessed not cursed but it is a cool media story and we have been running with it.

“Results wise, yeah, maybe there is something to it because man the three of us have been so dominate here.

“We have a bunch of podiums but this is one place where that doesn’t matter.”

Certainly when it comes to the Indianapolis Motor Speedway and the Andrettis relationship has been more star-crossed than aligned.

Marco’s father Michael, has been a five-times winner of the Indy 500 as a team owner but 16 times as a driver could not get to Victory Lane.

In his 2006 rookie season Marco finished second but has never been that close again.

An American driver winning the Indianapolis 500 will have fans waving the Stars and Stripes - an Andretti winning “The Greatest Spectacle in Racing” would bring fireworks.

Fans, drivers and anyone connected to motor racing understands what the Andretti name means to the sport.

When Marco’s name flashed at the top of the timing tower on Sunday social media exploded and the pit lane applauded.

Fellow drivers ran to Marco’s car to offer congratulations while his father hugged him and fought back tears.

Due to COVID-19 health and safety protocols there will be no spectators in grandstands that normally would be packed with close to 300,000 motor racing fans.

Either way Andretti says he will still feel the support.

“Just feeling the support from the pole I can’t even imagine what it would be like if we won the race,” said Marco. “You would see a few grown men cry.

“Just seeing the videos of fans across the street wearing my jersey, that’s so cool and the unwavering support on social media.”
>> IndyCar's top earner Dixon misses the fans
 	>>> IndyCar's top earner Dixon misses the fans (Reuters) - Scott Dixon likes to says he races for free and gets paid for all the other stuff drivers must do, such as interviews and schmoozing with sponsors, meaning this should have been the most enjoyable week ever for the New Zealander in the lead-up to an Indianapolis 500.

FILE PHOTO: Aug 15, 2020; Indianapolis, IN, USA; IndyCar Series driver Scott Dixon during qualifying for the 104th Running of the Indianapolis 500 at Indianapolis Motor Speedway. Mandatory Credit: Mark J. Rebilas-USA TODAY Sports

There have not been as many of those obligations to juggle during the run-in to Sunday’s rescheduled Indy 500, with the COVID-19 pandemic eliminating most of the usual distractions.

Without fans the mood around the sprawling Indianapolis Motor Speedway has been subdued.

The atmosphere in the city that bills itself as “The Racing Capital of the World” has been equally flat with none of the non-stop parties that fill the streets and campgrounds around the 2.5-mile oval.

As IndyCar’s top earner ($2.5-3.0 million a year according to Racer.com) the 40-year-old Dixon is well compensated for performing the tasks that come with the job but this year, aside from interviews and a few other unavoidable commitments, he has been free to focus on driving.

But even the “Iceman”, as Dixon is known, could do with a few diversions when it comes to the Indy 500.

“I do miss it (the fans),” Dixon told Reuters in a phone call from Indianapolis. “Trust me the driving is what I really love and I love that portion of it but Indianapolis is so special.

“But honestly, without fans, without partners we would not have races full stop. That’s what really makes the Indianapolis 500 is the people.

“Seeing the transformation of the city it does feel very different and does feel kind of sad. It is very eerie.

“All of us have missed it a lot. It is very unique and very different from any of the other races we go to.”

PROFESSIONALISM AND ATTENTION

For Dixon, the dinners, sponsor appearances, parades and charity events can be as draining and mentally tough to prepare for as the race itself.

The affable Kiwi, however, meets them with the same professionalism and attention he employs on the track where he has established himself as one of motor racing’s very best.

Having spent almost his entire career with Chip Ganassi Racing, Dixon won the Indy 500 in 2008, has claimed five IndyCar drivers’ titles and is in position to collect a sixth.

Victories in the first three races this season pushed his career haul to 49, leaving him four shy of passing Mario Andretti (52) for second on the all-time list.

Despite his accomplishments and the dangers of his profession, Dixon has no plans to retire but is as motivated to win as he was when he first climbed into an Indy Lights car in 1999.

“If anything, for me, it becomes more (motivation),” said Dixon, who will start Sunday second on the grid between pole sitter Marco Andretti and Japan’s Takuma Sato, winner of the 2017 Indy 500. “I don’t know why that is, I don’t feel like I am close to being done but I do think that at this point you are seeing there are less years than when I started.

“The motivation is driven by the competition of the field and the people that you race plus the team.

“The biggest thing for me is every day is different and not going in there thinking you know everything.

“Every situation is different and I think that keeps it quite fresh.”
>> Hear E-Prix Champion di Grassi on the future of electric motor sports (including scooters) – TechCrunch
 	>>> Hear E-Prix Champion di Grassi on the future of electric motor sports (including scooters) – TechCrunch Lucas di Grassi is returning to TechCrunch’s stage, and we’re going to talk racing electric vehicles. Again. Because electric is the future of motoring including motorsports.

There’s a lot to talk about with di Grassi. He’s an outspoken proponent of electric vehicles, previously helping to develop Formula E, push forward the AI racing circuit Roborace and is now developing an international electric race scooter series. He’s seemingly focused on justifying the benefits of electric vehicles in the name of the environment and acts as a Clear Air Advocate for the U.N. and is organizing a technology and business event for a zero-carbon future in Latin America called Zero Summit.

Di Grassi is a racer in Formula E and a former champion, taking the podium in 2016. Before racing for the series, he helped develop the vehicles used in Formula E. Now, even with his plate full of other projects, he continues to compete in the electric F1 series.

The last time he spoke at a TechCrunch event, he talked extensively on Roborace’s development and arrival. At the time he was the CEO of Roborace, and now, nearly two years later, Roborace still seems like a far-fetched idea.

Di Grassi teamed up with former F1 driver Alex Wurz for a different racing series involving electric scooters. Called eSkootr Championship, the series is said to feature purpose-built scooters that are capable of speeds up to 100 km/h. The pair, along with motorsport entrepreneur CEO Hrag Sarikissian, and COO Khalil Beschir, an F1 broadcaster and former A1 GP racing driver, hope the series’ lower cost of entry will draw racers from different backgrounds and disciplines.

We hope you can join us at our TC: Sessions Mobility event on October 6 and 7 to hear from di Grassi and other icons trying to change the face of mobility. Tickets are currently on sale and available at an Early Bird rate until September 4, 11:59 p.m. (PDT).
>> Kamala Harris at the DNC, coronavirus outbreak, California wildfires: 5 things to know Wednesday
 	>>> Kamala Harris at the DNC, coronavirus outbreak, California wildfires: 5 things to know Wednesday Editors

USA TODAY

DNC: Kamala Harris talks to America as the vice-presidential choice

Voters know Kamala Harris as a senator and most recently as a former presidential candidate. But Wednesday at the Democratic National Convention, Harris will get to reintroduce herself as presumptive nominee Joe Biden’s potential second-in-command. Harris, the first Black woman and Asian American person to be on a major party's ticket for vice president, will detail to Americans why she was the best choice for Biden's running mate and why their ticket is the best choice for America. In another DNC speech Wednesday, former President Barack Obama will work to energize Americans — including younger voters — to do everything they can to get Joe Biden elected. DNC speeches will be broadcast from 9 p.m. to 11 p.m. ET on all major television networks.

Prefer to listen? Check out the 5 things podcast below and subscribe for free on Apple Podcasts:

UNC-Chapel Hill going online amid COVID-19 outbreaks

Undergraduate courses at the University of North Carolina at Chapel Hill will go remote Wednesday after just one week of in-person classes amid the coronavirus pandemic. Chapel Hill on Monday became the first major university to pivot to online classes after reopening in person after it reported at least four clusters of outbreaks of COVID-19 in student living spaces. The school reported 130 student cases in the past week, a significant increase from the 10 cases it reported on campus in the week leading up to the start of class. Many universities that had planned on bringing students back for the fall semester have canceled or heavily modified those plans in recent weeks. Hundreds are still planning to reopen in person, citing reasons that range from students' wishes to their educational mission to the university's financial situation.

​​​​​​Firefighters battle California wildfires amid triple-digit temperatures

An excessive heat warning is in place Wednesday in California as firefighters across the state battle an outbreak of wildfires amid dangerous temperatures that has caused rolling blackouts for residents in some parts of the state. There were at least 20 active fires in the state as of 2 a.m. PDT Wednesday, according to the California Department of Forestry and Fire Protection — including the Lake Fire in the Angeles National Forest near Los Angeles. The Loyalton Fire has jumped the state's border with Nevada after spawning a rare "firenado" over the weekend. The Weather Service said it may take until Friday or Saturday before excess heat watches and warnings finally ease across the West.

Brutal heat wave continues in the West, exacerbating wildfires and straining California's power grid

Britney Spears wants to drop her father as sole guardian of her estate

Britney Spears and her father are scheduled to be in court Wednesday for another round in her long, twisty conservatorship case, only this time she wants to drop her father as sole guardian of her estate. According to a court document, "Britney is strongly opposed" to having her father, James "Jamie" Spears, as the sole conservator of her financial affairs. Britney, now 38, has been under a conservatorship since 2008, when her father was appointed her co-conservator along with a lawyer who later resigned. So far, Britney herself has not specifically told the court that she wants to be free of guardianship, although not all documents in probate court are open to the public.

Why does Britney Spears still have a conservator?Legal expert says her case file suggests answers

Pumpkin spice season is upon us

Nothing quite marks the arrival of fall like Pumpkin Spice Everything, and since everything is weird and time is meaningless in 2020, Dunkin' is bustin' out the punkin' a little early this year. Wednesday marks the official start of Pumpkin Spice Season at participating Dunkin' stores nationwide. They'll be offering up all the pumpkin-flavored coffee, espresso, doughnuts and muffins you can gobble down, plus some special new drinks and treats. What about Starbucks? The coffee giant confirmed in July that they, too, will be bringing back the PSL. But when? Last year, pumpkin pandemonium returned to Starbucks in late August. So, probably soon.
>> Roberts appointed acting principal of Williams F1 team
 	>>> Roberts appointed acting principal of Williams F1 team LONDON (Reuters) - The Williams Formula One team promoted managing director Simon Roberts to the role of acting principal on Tuesday following the departure of the founding family after last weekend’s Italian Grand Prix.

FILE PHOTO: McLaren Formula One driver Lewis Hamilton of Britain and team member Simon Roberts celebrate winning the German F1 Grand Prix at the Nuerburgring circuit July 24, 2011. REUTERS/Thomas Bohlen/File Photo

Frank Williams was previously the principal but his daughter Claire ran the team day-to-day as his deputy. Both have now left after the former champions were sold to U.S.-based Dorilton Capital last month.

Roberts joined the British-based team in June from McLaren, where he had been chief operations officer, and will take charge immediately with Formula One racing at Italy’s Mugello circuit this weekend.

“I am delighted to be announced as acting team principal for Williams during this transitional period,” he said in a team statement.

“It is an exciting time ahead for the team, a new era for Williams and one that I am excited to be playing a part in. I look forward to the challenge ahead as we look to take the team back to the front of the grid.”

The team earlier announced that chief executive Mike O’Driscoll was set to retire after supporting the ownership transition through 2020.

Williams have not won a race since 2012 and their glory days are long past, with the sport’s third most successful team struggling to score even a point.

They managed one point last year and have yet to open their account in eight races in 2020.

As managing director, Roberts had been in charge of technical, operations and planning functions.

He joined McLaren in 2003 and spent 2009 seconded to what was the Force India team, and is now Racing Point, as Chief Operating Officer.
>> Sergio Perez to leave Racing Point at end of year with Sebastian Vettel expected replacement
 	>>> Sergio Perez to leave Racing Point at end of year with Sebastian Vettel expected replacement Sergio Perez missed two Formula 1 races earlier this season after he tested positive for Covid-19

Sergio Perez will leave Racing Point at the end of the season, paving the way for four-time world champion Sebastian Vettel to join from Ferrari.

Vettel's arrival has not been confirmed but it is known that Racing Point, which will become Aston Martin in 2021, have offered him a contract.


## Collaborative filtering recommendation system

In [208]:
df2=pd.read_csv('Netflix_Dataset_Movie.csv')
df3=pd.read_csv('Netflix_Dataset_Rating.csv')

In [209]:
df3.head()

   User_ID  Rating  Movie_ID
0   712664       5         3
1  1331154       4         3
2  2632461       3         3
3    44937       5         3
4   656399       4         3

In [210]:
users=df3['User_ID'].unique().shape[0]
movie=df3['Movie_ID'].unique().shape[0]

In [211]:
df3.sort_values('User_ID',inplace=True)

In [212]:
user_uni

array([      6,       7,      79, ..., 2649388, 2649426, 2649429],
      dtype=int64)

In [213]:
df3

          User_ID  Rating  Movie_ID
12905688        6       4      3423
14442278        6       2      3817
1480634         6       3       361
4883971         6       3      1314
4854218         6       1      1307
...           ...     ...       ...
1748661   2649429       1       457
16737204  2649429       4      4356
9038631   2649429       3      2395
10401049  2649429       5      2782
13290353  2649429       4      3522

[17337458 rows x 3 columns]

In [215]:
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()
df3['User_ID']=le.fit_transform(df3['User_ID'])

In [216]:
df3.sort_values('Movie_ID',inplace=True)
df3['Movie_id']=le.fit_transform(df3['Movie_ID'])

In [218]:
a=np.zeros((users,movie))
for i in df3.itertuples():
    a[i[1]-1,i[4]-1]=i[2]
a

array([[5., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 4., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [219]:
from scipy.sparse import csr_matrix
sparse_matrix=csr_matrix(a)

In [220]:
from sklearn.neighbors import NearestNeighbors

nn=NearestNeighbors(n_neighbors=5,algorithm='brute',metric='cosine',n_jobs=-1)
nn.fit(sparse_matrix)

NearestNeighbors(algorithm='brute', metric='cosine', n_jobs=-1)

In [221]:
df3

          User_ID  Rating  Movie_ID  Movie_id
1339        31392       3         3         0
760        132149       4         3         0
1444       124350       4         3         0
1269       140183       4         3         0
544         40812       4         3         0
...           ...     ...       ...       ...
17333648    51660       3      4496      1349
17336201   112223       4      4496      1349
17335333   114977       4      4496      1349
17331273   118028       5      4496      1349
17330107   121182       2      4496      1349

[17337458 rows x 4 columns]

In [223]:
data=df3.sort_values('User_ID',ascending=True)
colab_filter=data[data['User_ID']==69].Movie_ID
colab_filter=colab_filter.tolist()
len(colab_filter)

137

In [227]:
item_id=[]
for i in colab_filter:
    dist,ind=nn.kneighbors(sparse_matrix[i],n_neighbors=5)
    ind=ind.flatten()
    ind=ind[:1]
    item_id.extend(ind)
item_id=item_id[:10]

In [228]:
item_id

[197, 3161, 607, 3938, 4216, 2128, 3579, 2080, 3670, 3907]

In [229]:
df2

       Movie_ID  Year                                               Name
0             1  2003                                    Dinosaur Planet
1             2  2004                         Isle of Man TT 2004 Review
2             3  1997                                          Character
3             4  1994                       Paula Abdul's Get Up & Dance
4             5  2004                           The Rise and Fall of ECW
...         ...   ...                                                ...
17765     17766  2002  Where the Wild Things Are and Other Maurice Se...
17766     17767  2004                  Fidel Castro: American Experience
17767     17768  2000                                              Epoch
17768     17769  2003                                        The Company
17769     17770  2003                                       Alien Hunter

[17770 rows x 3 columns]

In [230]:
print("Movies recommended by User 69:")
for i in item_id:
    print(">>>>",df2['Name'][i-1])

Movies recommended by User 69:
>>>> Taking Lives
>>>> Scary Movie 2
>>>> Speed
>>>> Shrek 2
>>>> Jurassic Park III
>>>> Rudy
>>>> 2 Fast 2 Furious
>>>> Holiday in the Sun
>>>> Encino Man
>>>> Madeline